.loader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px dotted #7a4a66;
    margin: 30px auto;
    animation: rotate 3s infinite linear;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}