.myBtn {
  padding: 7px 25px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: .2s;
  background-color: #f6f4f4;
  color: #7a4a66;
  margin: 15px 5px;
}
.myBtn:hover {
  background-color: #f1eeee;
}