* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    display: flex;
    justify-content: center;
    background-color: #f9f8f8;
    padding: 20px;
}
.App {
    font-family: Arial;
    font-size: 18px;
    padding: 30px;
    width: 800px;
    background-color: #ffffff;
    border-radius: 20px;
}
.post {
    display: flex;
    margin-top: 15px;
    padding: 20px;
    border: 2px #7a4a66 solid;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.post__btns {

}
select {
    font-size: 16px;
    padding: 3px 10px;
}